<div class="topBar">
  <div><a href="mailto:fakeemailforhds@jackz.com">Email Us</a></div>
</div>

<div class="sticky">

  <nav class="navbar navbar-expand-lg .bg-*  navbar-light mb-5 sticky-top">

    <div class="container-fluid">
      <a href="/">
        <img id="logo" src="logo.jpg" alt="Logo" href="/">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end me-5" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/appliances">Appliances</a></li>
              <li><a class="dropdown-item" href="/cabinets">Cabinets</a></li>
              <li><a class="dropdown-item" href="/tile">Countertops and Tile</a></li>
              <li><a class="dropdown-item" href="/lighting">Lighting</a></li>
              <li><a class="dropdown-item" href="/sinks">Sinks</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/locations">Locations</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="http://localhost/capstone/login.php" target="_blank">Employees</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</div>