<title>Products - Appliances</title>

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container-fluid">
  <div id="wrapper">

    <%- include('../partials/navbar'); %>

      <div class="container d-flex flex-column text-center">
        <main>

          <h1 class="mb-5">Appliances</h1>
          <h3 class="mb-5">We have partnered with the following companies to supply you with the finest appliances. Take a look below
            to access their websites.
          </h3>

          <div class="row">
            <div class="col-sm-4">
              <h2>Asko</h2>
              <p><a href="http://www.askona.com/" target="_blank">http://www.askona.com</a></p>
              <hr class="solid">

              <h2>Best</h2>
              <p><a href="http://www.bestbybroan.com/" target="_blank">http://www.bestbybroan.com</a></p>
              <hr class="solid">

              <h2>Bosch</h2>
              <p><a href="http://www.boschappliances.com/" target="_blank">http://www.boschappliances.com</a></p>
              <hr class="solid">

              <h2>Broan</h2>
              <p><a href="http://www.broan.com/" target="_blank">http://www.broan.com</a></p>
              <hr class="solid">

              <h2>Dacor</h2>
              <p><a href="http://www.dacor.com/" target="_blank">http://www.dacor.com</a></p>
              <hr class="solid">

              <h2>Danby</h2>
              <p><a href="http://www.danby.com/products/default.asp" target="_blank">http://www.danby.com</a></p>
              <hr class="solid">

              <h2>DCS</h2>
              <p><a href="http://www.dcsappliances.com/" target="_blank">http://www.dcsappliances.com</a></p>
             
            </div>

            <div class="col-sm-4">
              <div class="well">
                <h2>Faber</h2>
                <p><a href="http://www.faberonline.com/" target="_blank">http://www.faberonline.com</a></p>
                <hr class="solid">

                <h2>Fisher & Paykel</h2>
                <p><a href="http://usa.fisherpaykel.com/" target="_blank">http://usa.fisherpaykel.com</a></p>
                <hr class="solid">

                <h2>Gaggenau</h2>
                <p><a href="http://www.gaggenau.com/" target="_blank">http://www.gaggenau.com</a></p>
                <hr class="solid">

                <h2>Insinkerator</h2>
                <p><a href="http://www.insinkerator.com/" target="_blank">http://www.insinkerator.com</a></p>
                <hr class="solid">

                <h2>Jenn Air</h2>
                <p><a href="https://www.jennair.com/" target="_blank">https://www.jennair.com</a></p>
                <hr class="solid">

                <h2>Marvel</h2>
                <p><a href="http://www.marvelindustries.com/" target="_blank">http://www.marvelindustries.com</a></p>
                <hr class="solid">

                <h2>Miele</h2>
                <p><a href="http://www.miele.com/" target="_blank">http://www.miele.com</a></p>

              </div>
            </div>

            <div class="col-sm-4">
              <div class="well">
                <h2>Scotsman</h2>
                <p><a href="http://www.scotsman-ice.com/" target="_blank">http://www.scotsman-ice.com</a></p>
                <hr class="solid">

                <h2>Sub-Zero</h2>
                <p><a href="https://www.subzero-wolf.com/" target="_blank">https://www.subzero-wolf.com</a></p>
                <hr class="solid">

                <h2>Thermador</h2>
                <p><a href="http://www.thermador.com/" target="_blank">http://www.thermador.com</a></p>
                <hr class="solid">

                <h2>U Line</h2>
                <p><a href="http://www.u-line.com/" target="_blank">http://www.u-line.com</a></p>
                <hr class="solid">

                <h2>Venmar</h2>
                <p><a href="http://www.venmar-ventilation.com/" target="_blank">http://www.venmar-ventilation.com</a></p>
                <hr class="solid">

                <h2>Viking</h2>
                <p><a href="http://www.vikingrange.com/" target="_blank">http://www.vikingrange.com</a></p>
                <hr class="solid">

                <h2>Wolf</h2>
                <p><a href="http://www.wolfappliance.com/" target="_blank">http://www.wolfappliance.com</a></p>

              </div>
            </div>
          </div>
          
        </main>
      </div>

      <footer id="footer">
        <%- include('../partials/footer'); %>
      </footer>

  </div>
</body>

</html>