<title>Products - Cabinets</title>

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container-fluid">
    <div id="wrapper">

        <%- include('../partials/navbar'); %>

            <div class="container d-flex flex-column text-center">
                <main>
                    
                    <h1 class="mb-5">Cabinets</h1>
                    <h3 class="mb-5">We have partnered with the following companies to supply you with the finest
                        cabinets. Take a look below to access their websites.
                    </h3>

                    <div class="row">
                        <div class="col-sm-4">
                            <h2>American Woodmark Corp</h2>
                            <p><a href="http://www.americanwoodmark.com/"
                                    target="_blank">http://www.americanwoodmark.com</a></p>
                            <hr class="solid">

                            <h2>Armstrong Cabinet Products</h2>
                            <p><a href="http://www.armstrong.com/" target="_blank">http://www.armstrong.com</a></p>
                            <hr class="solid">

                            <h2>Bass Cabinet Mfg., INC</h2>
                            <p><a href="http://www.basscabinet.com/" target="_blank">http://www.basscabinet.com</a></p>

                        </div>

                        <div class="col-sm-4">
                            <div class="well">
                                <h2>Evans Cabinet Corporation</h2>
                                <p><a href="http://www.evanscabinet.com/"
                                        target="_blank">http://www.evanscabinet.com</a></p>
                                <hr class="solid">

                                <h2>CornerStone Cabinetry, INC</h2>
                                <p><a href="http://www.cornerstone-cabinetry.com/"
                                        target="_blank">http://www.cornerstone-cabinetry.com</a></p>
                                <hr class="solid">

                                <h2>Custom Wood Products, LLC</h2>
                                <p><a href="https://customwoodjacksonville.com/"
                                        target="_blank">https://customwoodjacksonville.com</a></p>
                                <hr class="solid">

                                <h2>KraftMaid Cabinetry</h2>
                                <p><a href="http://www.kraftmaid.com/" target="_blank">http://www.kraftmaid.com</a></p>

                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="well">
                                <h2>Fertig's Highland Collection, INC</h2>
                                <p><a href="http://www.fertigcabinet.com/"
                                        target="_blank">http://www.fertigcabinet.com</a></p>
                                <hr class="solid">

                                <h2>Marsh Furniture Company</h2>
                                <p><a href="http://www.marshfurniture.com/"
                                        target="_blank">http://www.marshfurniture.com</a></p>
                                <hr class="solid">

                                <h2>Thomasville Cabinetry</h2>
                                <p><a href="http://www.thomasvillecabinetry.com/"
                                        target="_blank">http://www.thomasvillecabinetry.com</a></p>

                            </div>
                        </div>
                    </div>

                </main>
            </div>

            <footer id="footer">
                <%- include('../partials/footer'); %>
            </footer>

    </div>
</body>

</html>