<title>Home Design Solutions</title>

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container-fluid">
  <div id="wrapper">

    <%- include('../partials/navbar'); %>

      <div class="container d-flex flex-column pb-2.5">
        <main>
          <div class="jumbotron">

            <div id="indexHero">
              <img class="img-fluid" src="kitchenIndex.PNG" alt="Default Picture">
              <div class="top-left ms-5">
                <h1 id="indexTitle"><strong>Home Design Solutions</strong></h1>
              </div>

            </div>

            <div class="bottom-center mt-4 col-md-6">
              <p>At HDS we take the stress and hassle 
                of home renovations off of your hands.
                Leave the hard work to us and enjoy the 
                results in your home, designed by and 
                for you.</p>
            </div>

          </div>
        </main>
      </div>
      <footer id="footer">
        <%- include('../partials/footer'); %>
      </footer>
      
  </div>
</body>

</html>