<title>Products - Lighting</title>

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container-fluid">
    <div id="wrapper">

        <%- include('../partials/navbar'); %>

            <div class="container d-flex flex-column text-center">
                <main>

                    <h1 class="mb-5">Lighting</h1>
                    <h3 class="mb-5">We have partnered with the following companies to supply you with the finest
                        lighting. Take a look below to access their websites.
                    </h3>

                    <div class="row">
                        <div class="col-sm-4">
                            <h2>American Lighting</h2>
                            <p><a href="http://www.americanlighting.com/"
                                    target="_blank">http://www.americanlighting.com</a></p>
                            <hr class="solid">

                            <h2>Broan</h2>
                            <p><a href="http://www.broan-nutone.com/" target="_blank">http://www.broan-nutone.com</a>
                            </p>
                            <hr class="solid">

                            <h2>Framburg Lighting</h2>
                            <p><a href="http://www.framburg.com/" target="_blank">http://www.framburg.com</a></p>

                        </div>

                        <div class="col-sm-4">
                            <div class="well">
                                <h2>Hunter Fans</h2>
                                <p><a href="http://www.hunterfan.com/" target="_blank">http://www.hunterfan.com</a></p>
                                <hr class="solid">

                                <h2>Juno Lighting</h2>
                                <p><a href="http://www.junolighting.com/"
                                        target="_blank">http://www.junolighting.com</a></p>
                                <hr class="solid">

                                <h2>Kichler Lighting</h2>
                                <p><a href="http://www.kichler.com/" target="_blank">http://www.kichler.com</a></p>
                                <hr class="solid">

                                <h2>Ledalite - Sonata</h2>
                                <p><a href="http://www.ledalite.com/" target="_blank">http://www.ledalite.com</a></p>

                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="well">
                                <h2>Lightoiler</h2>
                                <p><a href="http://www.lightolier.com/" target="_blank">http://www.lightolier.com</a>
                                </p>
                                <hr class="solid">

                                <h2>Progress Lighting</h2>
                                <p><a href="http://www.progresslighting.com/"
                                        target="_blank">http://www.progresslighting.com</a></p>
                                <hr class="solid">

                                <h2>Task Lighting Corporation</h2>
                                <p><a href="http://www.tasklighting.com/"
                                        target="_blank">http://www.tasklighting.com</a></p>

                            </div>
                        </div>
                    </div>

                </main>
            </div>

            <footer id="footer">
                <%- include('../partials/footer'); %>
            </footer>

    </div>
</body>

</html>