<title>Locations</title>

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container-fluid">

  <div id="wrapper">
    <%- include('../partials/navbar'); %>
      <div class="container d-flex flex-column text-center">
        <main>

          <div>
            <h1 class="contactHeaders">Arizona</h1>
            <div class="row mb-5 justify-content-center align-items-center">
              <div class="col-sm-6">
                <img class="locationImgs" src="phoenix.jpg" alt="Phoenix, Arizona">
              </div>

              <div class="col-sm-6">
                <div class="well">
                  <h2>Phoenix</h2>
                  <br>
                  <p>412 Denny Way, Phoenix, AZ 85001</p>
                  <p>(555) 951-0223</p>
                  <p>Mon-Fri: 10:00am-8pm</p>
                </div>
              </div>
            </div>

            <hr class="solid">

            <div class="row mt-5 mb-5 justify-content-center align-items-center">
              <div class="col-sm-6 order-2 order-sm-1 ">
                <h2>Scottsdale</h2>
                <br>
                <p>154 E. OrangeThorpe Ave, Scottsdale, AZ 85258</p>
                <p>(555) 355-4544</p>
                <p>Mon-Fri: 10:00am-8pm</p>
              </div>
              <div class="col-sm-6 order-1 order-sm-2">
                <div class="well">
                  <img class="locationImgs" src="scottsdale.jpg" alt="Scottsdale, Arizona">
                </div>
              </div>
            </div>

            <hr class="solid">

            <div class="row mt-5 mb-5 justify-content-center align-items-center">
              <div class="col-sm-6">
                <img class="locationImgs" src="tuscon.jpg" alt="Tuscon, Arizona">
              </div>
              <div class="col-sm-6">
                <div class="well">
                  <h2>Tuscon</h2>
                  <br>
                  <p>2454 SW Cedar Hills Blvd, Tuscon, AZ 85701</p>
                  <p>(555) 701-0122</p>
                  <p>Mon-Fri: 10:00am-8pm</p>
                </div>
              </div>
            </div>
          </div>

          <hr class="solid">

          <div>
            <h1 class="contactHeaders mt-5">Nevada</h1>
            <div class="row mb-5 justify-content-center align-items-center">
              <div class="col-sm-6 order-2 order-sm-1">
                <h2>Las Vegas</h2>
                <br>
                <p>2525 Rice Blvd, Phoenix, AZ 89101</p>
                <p>(555) 584-3733</p>
                <p>Mon-Fri: 12:00pm-10pm</p>
              </div>
              <div class="col-sm-6 order-1 order-sm-2">
                <div class="well">
                  <img class="locationImgs" src="vegas.jpg" alt="Las Vegas, Nevada">
                </div>
              </div>
            </div>
          </div>

          <hr class="solid">

          <div>
            <h1 class="contactHeaders mt-5">New Mexico</h1>
            <div class="row mb-5 justify-content-center align-items-center">
              <div class="col-sm-6">
                <img class="locationImgs" src="albuquerque.jpg" alt="Albuquerque, New Mexico">
              </div>
              <div class="col-sm-6">
                <div class="well">
                  <h2>Albuquerque</h2>
                  <br>
                  <p>614 Dennis St, Albuquerque, AZ 87106</p>
                  <p>(555) 382-0111</p>
                  <p>Mon-Fri: 11:00am-9pm</p>
                </div>
              </div>
            </div>
          </div>

        </main>
      </div>

      <footer id="footer">
        <%- include('../partials/footer'); %>
      </footer>

  </div>
</body>

</html>