<title>Services</title>

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container-fluid">
  <div id="wrapper">

    <%- include('../partials/navbar'); %>

      <div class="container d-flex flex-column">
        <main>

          <h1>Services Offered</h1>


          <div id="carouselExampleControls" class="carousel slide mb-5 mt-5" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="bath1.jpg" class="d-block w-100 h-100" alt="Renovated Bathroom">
              </div>
              <div class="carousel-item">
                <img src="kitchen1.jpg" class="d-block w-100 h-100" alt="Renovated Kitchen">
              </div>
              <div class="carousel-item">
                <img src="bath2.jpg" class="d-block w-100 h-100" alt="Renovated Bathroom">
              </div>
              <div class="carousel-item">
                <img src="kitchen2.jpg" class="d-block w-100 h-100" alt="Renovated Kitchen">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


          <h2>Design</h2>
          <p>$100 per hour. Minimum of $500 per job (includes onsite visits).</p>
          <hr class="solid">

          <h2>Cabinet Installation</h2>
          <p>$75 per hour. Minimum of $1,500 per kitchen.</p>
          <hr class="solid">

          <h2>Re-facing Cabinets</h2>
          <p>$75 per hour. Minimum of $750 per kitchen.</p>
          <hr class="solid">

          <h2>Plumbing</h2>
          <p>$85 per hour. Minimum of $500 per kitchen.</p>
          <hr class="solid">

          <h2>Electrical</h2>
          <p>$85 per hour. Minimum of $500 per kitchen.</p>
          <hr class="solid">

          <h2>Painting/Wallpaper</h2>
          <p>$50 per hour to hang wall paper. Minimum of $500 to paint kitchen.</p>
          <p>Contracted to outside painting contractor (AZ Design). The client
            meets with the sub-contractor for details.</p>
          </p>
          <hr class="solid">

          <h2>General Construction</h2>
          <p>$60 per hour for labor.</p>
          <p>Moving walls, sheetrock, framing, windows, etc.
            Some of this work is contracted out if needed.</p>
          <hr class="solid">

          <h2>Deliveries</h2>
          <p>$50 minimum of 1st piece and then $25 for each extra piece. Large
            items will incur a $100 surcharge for delivery.
            <br>
            Any installation required will be charged at the standard hourly rate
            of $85 per hour.
          </p>

        </main>
      </div>

      <footer id="footer">
        <%- include('../partials/footer'); %>
      </footer>
      
  </div>
</body>

</html>