<title>Products - Sinks</title>

<head>
  <%- include('../partials/head'); %>
    <style>
      h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
      }

      h3 {
        text-align: center;
      }
      p {
        text-align: center;
      }

    </style>
</head>

<body class="container-fluid">
  <div id="wrapper">

    <%- include('../partials/navbar'); %>


      <div class="container d-flex flex-column">
        <main>

          <h1 class="mb-5">Sinks</h1>
          <h3 class="mb-5">We have partnered with the following companies to supply you with the finest sinks. Take a look below
            to access their websites.
          </h3>

          <div class="row">
            <div class="col-sm-4">

              <h2>American Standard</h2>
              <p><a href="http://www.americanstandard-us.com/" target="_blank">http://www.americanstandard-us.com</a></p>
              <hr class="solid">

              <h2>BlaNCo</h2>
              <p><a href="http://www.blancoamerica.com/" target="_blank">http://www.blancoamerica.com</a></p>
              <hr class="solid">

              <h2>Delta</h2>
              <p><a href="http://www.deltafaucets.com/" target="_blank">http://www.deltafaucets.com</a></p>
              <hr class="solid">

              <h2>Elkay</h2>
                <p><a href="http://www.elkay.com/" target="_blank">http://www.elkay.com</a></p>
                
            </div>



            <div class="col-sm-4">
              <div class="well">
                
                <h2>Grohe</h2>
                <p><a href="http://www.groheamerica.com/" target="_blank">http://www.groheamerica.com</a></p>
                <hr class="solid">

                <h2>Hansgrohe</h2>
                <p><a href="http://www.hansgrohe.com/" target="_blank">http://www.hansgrohe.com</a></p>
                <hr class="solid">

                <h2>Herbeau</h2>
                <p><a href="http://www.herbeau.com/" target="_blank">http://www.herbeau.com</a></p>
                <hr class="solid">  
                
                <h2>Kohler</h2>
                <p><a href="http://www.us.kohler.com/" target="_blank">http://www.us.kohler.com</a></p>
          
              </div>
            </div>

            <div class="col-sm-4">
              <div class="well">

                <h2>Moen</h2>
                <p><a href="http://www.moen.com/" target="_blank">http://www.moen.com</a></p>
                <hr class="solid">

                <h2>Newport</h2>
                <p><a href="https://www.newportbrass.com/" target="_blank">https://www.newportbrass.com</a></p>
                <hr class="solid">

                <h2>Price Pfister</h2>
                <p><a href="http://www.pricepfister.com/" target="_blank">http://www.pricepfister.com</a></p>
              
              </div>
            </div>

          </div>
        </main>
      </div>

      <footer id="footer">
        <%- include('../partials/footer'); %>
      </footer>
  </div>
</body>

</html>