<title>Products - Tile</title>

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container-fluid">
    <div id="wrapper">

        <%- include('../partials/navbar'); %>

            <div class="container d-flex flex-column text-center">
                <main>

                    <h1 class="mb-5">Countertops and Tile</h1>
                    <h3 class="mb-5">We have partnered with the following companies to supply you with the finest
                        countertops and tile. Take a look below to access their websites.
                    </h3>

                    <div class="row">

                        <div class="col-md-3">

                            <h1 class="mb-5">Concrete</h1>

                            <h2>Cool Concrete</h2>
                            <p><a href="https://www.coolconcretecreations.com/"
                                    target="_blank">https://www.coolconcretecreations.com</a>
                            </p>
                            <hr class="solid">

                            <h2>Cheng Design</h2>
                            <p><a href="http://www.chengdesign.com/" target="_blank">http://www.chengdesign.com</a></p>
                            <hr class="solid">

                            <h2>Dreamcoat Flooring</h2>
                            <p><a href="https://www.dreamcoatflooring.com/stained-concrete-phoenix-az/"
                                    target="_blank">https://www.dreamcoatflooring.com</a></p>

                        </div>

                        <div class="col-md-3">

                            <h1 class="mb-5">Laminate</h1>

                            <h2>Formica</h2>
                            <p><a href="http://www.formica.com/" target="_blank">http://www.formica.com</a></p>
                            <hr class="solid">

                            <h2>Nevamar</h2>
                            <p><a href="https://panolam.com/nevamar/" target="_blank">https://panolam.com/nevamar</a>
                            </p>
                            <hr class="solid">

                            <h2>Pionite</h2>
                            <p><a href="https://panolam.com/pionite/" target="_blank">https://panolam.com/pionite</a>
                            </p>
                            <hr class="solid">

                            <h2>Wilsonart</h2>
                            <p><a href="http://www.wilsonart.com/" target="_blank">http://www.wilsonart.com</a></p>


                        </div>

                        <div class="col-md-3">

                            <h1 class="mb-5">Stone</h1>

                            <h2>Consentino</h2>
                            <p><a href="http://www.silestone.com/index.php" target="_blank">http://www.silestone.com</a>
                            </p>
                            <hr class="solid">

                            <h2>DuPont Zodiaq</h2>
                            <p><a href="http://www.dupont.com/zodiaq/a/en/h/Home/index.html"
                                    target="_blank">http://www.dupont.com</a></p>
                            <hr class="solid">

                            <h2>Green Mountain</h2>
                            <p><a href="http://greenmountainsoapstone.com/"
                                    target="_blank">http://greenmountainsoapstone.com</a></p>
                            <hr class="solid">

                            <h2>Burlington Stone</h2>
                            <p><a href="https://burlingtonstone.co.uk/"
                                    target="_blank">https://burlingtonstone.co.uk</a>
                            </p>

                        </div>

                        <div class="col-md-3">

                            <h1 class="mb-5">Tile</h1>

                            <h2>American Olean</h2>
                            <p><a href="http://www.americanolean.com/" target="_blank">http://www.americanolean.com</a>
                            </p>
                            <hr class="solid">

                            <h2>Congoleum</h2>
                            <p><a href="http://www.congoleum.com/" target="_blank">http://www.congoleum.com</a></p>
                            <hr class="solid">

                            <h2>Epro</h2>
                            <p><a href="https://eprotile.com/" target="_blank">https://eprotile.com</a></p>
                            <hr class="solid">

                            <h2>Florida Tile</h2>
                            <p><a href="http://www.floridatile.com/" target="_blank">http://www.floridatile.com</a></p>
                            <hr class="solid">

                            <h2>Dordini Italian Tile</h2>
                            <p><a href="https://www.tilesdordini.com/" target="_blank">https://www.tilesdordini.com</a>
                            </p>

                        </div>


                </main>
            </div>

            <footer id="footer">
                <%- include('../partials/footer'); %>
            </footer>

    </div>
</body>

</html>